[Unit]
Description=ServerStatsBot for monitoring the server
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /root/ServerStatsBot/servstatsbot.py
User=root
WorkingDirectory=/root/ServerStatsBot/
Restart=on-failure

[Install]
WantedBy=multi-user.target